

@font-face
{
	font-family: "WebSymbols-Regular";
	src: url('../fonts/WebSymbols-Regular.otf');
}
@font-face
{
	font-family: "FontAwesome";
	src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/FontAwesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontAwesome-webfont.woff') format('woff'),
    url('../fonts/FontAwesome-webfont.ttf') format('truetype'),
     url('../fonts/FontAwesome.otf') format('truetype'),
      url('../fonts/FontAwesome.otf.ttf') format('truetype'),
    url('../fonts/FontAwesome-webfont.svg#FontAwesome') format('svg');
}
@font-face
{
	font-family: "MyriadPro-Regular";
	src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face
{
	font-family: "MyriadPro-Semibold";
	src: url('../fonts/MyriadPro-Semibold.otf');
}
@font-face
{
	font-family: "calibri";
	src: url('../fonts/calibri.ttf');
}

body
{
	width: 100%;
	min-height: 600px;
	overflow-x: hidden;
}


*
{
	margin: 0;
	padding: 0;
}

img{
	border: 0;
}
.clear
{
	clear: both;
}
.clear-height
{
	clear: both;
	height: 1px;
}
ul
{
	list-style: none;
	display: block;
}
a
{
	text-decoration: none;
	color: #616060;
}

.body-wrapper
{
	width: 90%;
	min-height: 200px;
	margin: 0px auto;
}


@media screen and (min-device-width: 800px) { 
	.body-wrapper
	{
		width: 768px;
		min-height: 200px;
		margin: 0px auto;
	}
}
.header
{
	width: 100%;
	min-height: 103px;
	margin-top: 25px;
}
.header img#logo
{
	float: left;
	margin-right: 45%;
}
#social-link
{
	float: left;
	width: 190px;
	height: 36px ;
	margin-top: 10px;
	border:1px solid #DEDEDE;
	
}

#social-link ul li{
	float: left;
	text-decoration:  none;
	width: 35px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 7px;
	border-right: 1px solid #DEDEDE;
}

#imdb{
	padding-bottom: 0 !important;
	padding-top: 8px !important;
	width: 45px !important;
	border: 0 !important;
}

.social-icon a
{

}
/*#border
{
	width: 10px;
	height: 10px;
	line-height: 15px;
	background: red;
}*/
.border-right 
{
	width: 0px;
	height: 1px;
	padding-top: 14px;
	padding-bottom: 5px;
	border-right: 1px solid #999999;
}
.border-right-1 
{
	width: 0px;
	height: 1px;
	padding-top: 14px;
	padding-bottom: 5px;
	padding-left: 20%;
	border-right: 1px solid #999999;
}
/*span.icon:after
{
	content: attr(data-icon);
	font-family: "WebSymbols-Regular";
	color: #fff;
	font-weight: 300;
	font-size: 30px;
	background: #1a2754;
}
span.icon-1:after
{
	content: attr(data-icon);
	font-family: "WebSymbols-Regular";
	color: #1a2754;
	font-weight: 300;
	font-size: 28px;
	margin-left: 10%;
	background: #fff;
	border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
}*/
/*.element {
    position: relative;
}
.element-t {
    position: relative;
}
.element-y {
    position: relative;
}
.element-in {
    position: relative;
}*/
 
.element:before {
    content: "\f09a"; 
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
	
}
.element-t:before {
    content: "\f099"; 
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
}
.element-y:before {
    content: "\f167"; 
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
}
.element-in:before {
    content: "\f0e1"; 
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
}
#container-section
{
	width: 100%;
	background: white;
}
.container
{
	margin-left: 18px;
}
.container-left
{
	max-width: 368px;
	float: left;
	margin-right: 9%;
}
.container-left p
{
	font-family: Arial;
	font-size: 14px;
	color: #1a2754;
	text-align: justify;
	margin-top: 54px;
} 
.container-right
{
	width: 300px;
	float: left;
}
.input-div
{
	width: 300px;
	height: 44px;
	border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
	border-bottom: 1px solid #949494;
	border-top: 1px solid #c9c9c9;
	border-left: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	margin-top: 5px;
	background: #f3f3f3;
}
.container-right .table
{
	float: left;
	color: #1a2754;
	/*padding-left: 2%;*/
	/*padding: 29px 40px 0px 25px;*/
	font-family: "calibri";  
	font-size: 12px
}


input[type="text"]
{
	width: 278px;
	height: 32px;
	font-family: Arial;    
	font-size: 15px;
	font-weight: 600;
	border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 2px;
	padding-top: 1px;
	padding-left: 10px;
	background: #ffffff;
	border: 1px solid #586371;
}
input[type="email"]
{
	width: 278px;
	height: 32px;
	font-family: Arial;    
	font-size: 15px;
	font-weight: 600;
	border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
	margin-top: 3px;
	margin-right: 2px;
	padding-top: 1px;
	padding-left: 10px;
	background: #ffffff;
	border: 1px solid #586371;
	margin-left: 3px;
}
input[type="submit"]
{
	float: left;
	width: 115px;
	height: 38px;
	font-family: "MyriadPro-Regular";
	font-size: 18px;
	font-weight: 600;
	color: #5d728a;
	letter-spacing: 2px;
	text-transform: uppercase;
	/*text-shadow: 1px  .01px #fff;*/
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
	margin-top: 15px;
	margin-left: 60px;
	background: #1a2755;
	border: 2px solid #979cac;
	cursor: pointer;
}


input[type="file"] 
{
	-webkit-align-items: baseline;
	color: inherit;
	text-align: start;
}
.secondary{
    background: #ffffff;
	border: 1px solid #586371;
    border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
    
    color: #1a2754;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;    
	font-size: 15px;
	font-weight: 600;
   /* padding: .3rem 1.3rem .4rem;*/
   margin-top: 5px;
   padding-top: 2px;
   margin-left: 6px;
    text-align: center;
    vertical-align: middle;
}
.button{
    
    line-height: 1.8rem;
    outline: 0;
}
#file
{
	display:block;
	opacity:0;
	margin-top: -35px;
	margin-left: 5px;
	height: 30px;
	width: 278px;
}
#select-div
{
	height: 31px;
	width: 288px;
	z-index: 1000;
}
#select-file
{
	font-family: Arial;    
	font-size: 15px;
	font-weight: 600;
	color: #1a2754; 
	margin-top: -8px;
}
::-webkit-input-placeholder 
{ 
	color: #1a2754; 
}
::-moz-placeholder 
{ 
	color: #1a2754; 
}
:-ms-input-placeholder 
{ 
	color: #1a2754; 
}
input:-moz-placeholder 
{ 
	color: #1a2754; 
}
#check
{
	margin-top: 24px;
	
}
label
{
	font-family: Arial;    
	font-size: 13px;
	color: #1a2754;
	font-weight: 600;
}

.menu-bar
{
	margin-top: 60px;
}


#navigation
{
	list-style: none;
	width:100%;
	margin:0px auto;
	padding:0px;
}
#navigation li
{
	float: left;
	background: #f3f5f6;
	width: 252px;
	padding: 12px 0px;
	text-align:center;
	border:1px solid #ababac;
}


#navigation li a
{
	color: #1a2754;
	text-decoration: none;
	font-family: "calibri";
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 5px;
	/*border: 1px solid #DEDEDE;*/
}
.li-border
{
	
	width: 0px;
	height: 1px;
	padding-top: 20%;
	padding-bottom: -2%;
	padding-left: 98%;
	border-right: 1px solid #999999;
}
#navigation li.active 
{
	background: #fff;
}

.footer
{
	width: 100%;
	margin-top: 23px;
	clear: both;
	text-align: center;
}
.footer p 
{
	color: #1a2754;
	font-family: "calibri";
	font-size: 12px;
	text-transform: uppercase;
	line-height: 18px;
	padding-bottom: 10px;
	
}


/*----------- Contact Page ----------- */

.contact-table
{
	margin-left: 30%;
	font-family: "MyriadPro-Semibold";
	font-size: 14px;
	color: #000;
	margin-top: 65px;
}
p.contact-para
{
	font-family: "MyriadPro-Regular";
	font-size: 13px;
	color: #5d728a;
	text-align: justify;
	margin-top: 54px;
} 



/*----------- About us Page ----------- */

.left
{
	float: left;
	width: 398px;
	min-height: 347px;
}
.left p
{
	font-family: "calibri";
	font-size: 14px;
	color: #1a2754;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 28px;
}
.left img
{
	margin-left: -4px;
}
.right
{
	float: right;
	width: 340px;
	min-height: 347px;
}
.right p
{
	font-family: "calibri";
	font-size: 14px;
	color: #1a2754;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 20px;
}
#file_upload-button
{
	margin-top: -34px; width: 295px; opacity: 0;
}
#file_upload
{
	 width: 295px;
	 display: none;
}
#results
{
	color:red;
	font-weight: bold;
}